<p id="notice"><%= notice %></p>

<h1>Your Movie Lists 🎬🗒</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name.capitalize, list_path(list) %></td>
        <td><%= link_to 'Show', list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path, class: 'btn btn-info' %>
